--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Atividade; Type: TABLE; Schema: public; Owner: faat
--

CREATE TABLE public."Atividade" (
    id_atividade integer NOT NULL,
    descricao text,
    data_realizacao date
);


ALTER TABLE public."Atividade" OWNER TO faat;

--
-- Name: Atividade_Aluno; Type: TABLE; Schema: public; Owner: faat
--

CREATE TABLE public."Atividade_Aluno" (
    id_atividade integer NOT NULL,
    id_aluno integer NOT NULL
);


ALTER TABLE public."Atividade_Aluno" OWNER TO faat;

--
-- Name: Atividade_id_atividade_seq; Type: SEQUENCE; Schema: public; Owner: faat
--

ALTER TABLE public."Atividade" ALTER COLUMN id_atividade ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Atividade_id_atividade_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Disciplina; Type: TABLE; Schema: public; Owner: faat
--

CREATE TABLE public."Disciplina" (
    id_disciplina integer NOT NULL,
    nome_disciplina character varying(100),
    codigo character varying(20),
    carga_horaria integer
);


ALTER TABLE public."Disciplina" OWNER TO faat;

--
-- Name: Disciplina_id_disciplina_seq; Type: SEQUENCE; Schema: public; Owner: faat
--

ALTER TABLE public."Disciplina" ALTER COLUMN id_disciplina ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Disciplina_id_disciplina_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Nota; Type: TABLE; Schema: public; Owner: faat
--

CREATE TABLE public."Nota" (
    id_nota integer NOT NULL,
    id_aluno integer,
    id_disciplina integer,
    nota numeric(5,2),
    data_lancamento date
);


ALTER TABLE public."Nota" OWNER TO faat;

--
-- Name: Nota_id_nota_seq; Type: SEQUENCE; Schema: public; Owner: faat
--

ALTER TABLE public."Nota" ALTER COLUMN id_nota ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Nota_id_nota_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Pagamento; Type: TABLE; Schema: public; Owner: faat
--

CREATE TABLE public."Pagamento" (
    id_pagamento integer NOT NULL,
    id_aluno integer,
    data_pagamento date,
    valor_pago numeric(10,2),
    forma_pagamento character varying(50),
    referencia character varying(100),
    status character varying(20)
);


ALTER TABLE public."Pagamento" OWNER TO faat;

--
-- Name: Pagamento_id_pagamento_seq; Type: SEQUENCE; Schema: public; Owner: faat
--

ALTER TABLE public."Pagamento" ALTER COLUMN id_pagamento ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Pagamento_id_pagamento_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Presenca; Type: TABLE; Schema: public; Owner: faat
--

CREATE TABLE public."Presenca" (
    id_presenca integer NOT NULL,
    id_aluno integer,
    data_presenca date,
    presente boolean
);


ALTER TABLE public."Presenca" OWNER TO faat;

--
-- Name: Presenca_id_presenca_seq; Type: SEQUENCE; Schema: public; Owner: faat
--

ALTER TABLE public."Presenca" ALTER COLUMN id_presenca ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Presenca_id_presenca_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Usuario; Type: TABLE; Schema: public; Owner: faat
--

CREATE TABLE public."Usuario" (
    id_usuario integer NOT NULL,
    login character varying(50),
    senha character varying(255),
    nivel_acesso character varying(20),
    id_professor integer
);


ALTER TABLE public."Usuario" OWNER TO faat;

--
-- Name: Usuario_id_usuario_seq; Type: SEQUENCE; Schema: public; Owner: faat
--

ALTER TABLE public."Usuario" ALTER COLUMN id_usuario ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Usuario_id_usuario_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: alunos; Type: TABLE; Schema: public; Owner: faat
--

CREATE TABLE public.alunos (
    id_aluno integer NOT NULL,
    nome_completo character varying(100) NOT NULL,
    data_nascimento date NOT NULL,
    turma_id integer NOT NULL,
    informacoes_adicionais text,
    email_responsavel character varying(100),
    telefone_responsavel character varying(20),
    nome_responsavel character varying(255)
);


ALTER TABLE public.alunos OWNER TO faat;

--
-- Name: alunos_id_seq; Type: SEQUENCE; Schema: public; Owner: faat
--

CREATE SEQUENCE public.alunos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.alunos_id_seq OWNER TO faat;

--
-- Name: alunos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: faat
--

ALTER SEQUENCE public.alunos_id_seq OWNED BY public.alunos.id_aluno;


--
-- Name: professor; Type: TABLE; Schema: public; Owner: faat
--

CREATE TABLE public.professor (
    id_professor integer NOT NULL,
    nome_completo character varying(255) NOT NULL,
    email character varying(100) NOT NULL,
    telefone character varying(20) NOT NULL
);


ALTER TABLE public.professor OWNER TO faat;

--
-- Name: professor_id_professor_seq; Type: SEQUENCE; Schema: public; Owner: faat
--

CREATE SEQUENCE public.professor_id_professor_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.professor_id_professor_seq OWNER TO faat;

--
-- Name: professor_id_professor_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: faat
--

ALTER SEQUENCE public.professor_id_professor_seq OWNED BY public.professor.id_professor;


--
-- Name: turma; Type: TABLE; Schema: public; Owner: faat
--

CREATE TABLE public.turma (
    id_turma integer NOT NULL,
    nome_turma character varying(50) NOT NULL,
    id_professor integer,
    horario character varying(100) NOT NULL,
    ano_letivo integer,
    id_disciplina integer
);


ALTER TABLE public.turma OWNER TO faat;

--
-- Name: turma_id_turma_seq; Type: SEQUENCE; Schema: public; Owner: faat
--

CREATE SEQUENCE public.turma_id_turma_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.turma_id_turma_seq OWNER TO faat;

--
-- Name: turma_id_turma_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: faat
--

ALTER SEQUENCE public.turma_id_turma_seq OWNED BY public.turma.id_turma;


--
-- Name: alunos id_aluno; Type: DEFAULT; Schema: public; Owner: faat
--

ALTER TABLE ONLY public.alunos ALTER COLUMN id_aluno SET DEFAULT nextval('public.alunos_id_seq'::regclass);


--
-- Name: professor id_professor; Type: DEFAULT; Schema: public; Owner: faat
--

ALTER TABLE ONLY public.professor ALTER COLUMN id_professor SET DEFAULT nextval('public.professor_id_professor_seq'::regclass);


--
-- Name: turma id_turma; Type: DEFAULT; Schema: public; Owner: faat
--

ALTER TABLE ONLY public.turma ALTER COLUMN id_turma SET DEFAULT nextval('public.turma_id_turma_seq'::regclass);


--
-- Data for Name: Atividade; Type: TABLE DATA; Schema: public; Owner: faat
--

COPY public."Atividade" (id_atividade, descricao, data_realizacao) FROM stdin;
\.


--
-- Data for Name: Atividade_Aluno; Type: TABLE DATA; Schema: public; Owner: faat
--

COPY public."Atividade_Aluno" (id_atividade, id_aluno) FROM stdin;
\.


--
-- Data for Name: Disciplina; Type: TABLE DATA; Schema: public; Owner: faat
--

COPY public."Disciplina" (id_disciplina, nome_disciplina, codigo, carga_horaria) FROM stdin;
\.


--
-- Data for Name: Nota; Type: TABLE DATA; Schema: public; Owner: faat
--

COPY public."Nota" (id_nota, id_aluno, id_disciplina, nota, data_lancamento) FROM stdin;
\.


--
-- Data for Name: Pagamento; Type: TABLE DATA; Schema: public; Owner: faat
--

COPY public."Pagamento" (id_pagamento, id_aluno, data_pagamento, valor_pago, forma_pagamento, referencia, status) FROM stdin;
\.


--
-- Data for Name: Presenca; Type: TABLE DATA; Schema: public; Owner: faat
--

COPY public."Presenca" (id_presenca, id_aluno, data_presenca, presente) FROM stdin;
\.


--
-- Data for Name: Usuario; Type: TABLE DATA; Schema: public; Owner: faat
--

COPY public."Usuario" (id_usuario, login, senha, nivel_acesso, id_professor) FROM stdin;
\.


--
-- Data for Name: alunos; Type: TABLE DATA; Schema: public; Owner: faat
--

COPY public.alunos (id_aluno, nome_completo, data_nascimento, turma_id, informacoes_adicionais, email_responsavel, telefone_responsavel, nome_responsavel) FROM stdin;
\.


--
-- Data for Name: professor; Type: TABLE DATA; Schema: public; Owner: faat
--

COPY public.professor (id_professor, nome_completo, email, telefone) FROM stdin;
\.


--
-- Data for Name: turma; Type: TABLE DATA; Schema: public; Owner: faat
--

COPY public.turma (id_turma, nome_turma, id_professor, horario, ano_letivo, id_disciplina) FROM stdin;
\.


--
-- Name: Atividade_id_atividade_seq; Type: SEQUENCE SET; Schema: public; Owner: faat
--

SELECT pg_catalog.setval('public."Atividade_id_atividade_seq"', 1, false);


--
-- Name: Disciplina_id_disciplina_seq; Type: SEQUENCE SET; Schema: public; Owner: faat
--

SELECT pg_catalog.setval('public."Disciplina_id_disciplina_seq"', 1, false);


--
-- Name: Nota_id_nota_seq; Type: SEQUENCE SET; Schema: public; Owner: faat
--

SELECT pg_catalog.setval('public."Nota_id_nota_seq"', 1, false);


--
-- Name: Pagamento_id_pagamento_seq; Type: SEQUENCE SET; Schema: public; Owner: faat
--

SELECT pg_catalog.setval('public."Pagamento_id_pagamento_seq"', 1, false);


--
-- Name: Presenca_id_presenca_seq; Type: SEQUENCE SET; Schema: public; Owner: faat
--

SELECT pg_catalog.setval('public."Presenca_id_presenca_seq"', 1, false);


--
-- Name: Usuario_id_usuario_seq; Type: SEQUENCE SET; Schema: public; Owner: faat
--

SELECT pg_catalog.setval('public."Usuario_id_usuario_seq"', 1, false);


--
-- Name: alunos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: faat
--

SELECT pg_catalog.setval('public.alunos_id_seq', 2, true);


--
-- Name: professor_id_professor_seq; Type: SEQUENCE SET; Schema: public; Owner: faat
--

SELECT pg_catalog.setval('public.professor_id_professor_seq', 1, false);


--
-- Name: turma_id_turma_seq; Type: SEQUENCE SET; Schema: public; Owner: faat
--

SELECT pg_catalog.setval('public.turma_id_turma_seq', 1, false);


--
-- Name: Atividade_Aluno Atividade_Aluno_pkey; Type: CONSTRAINT; Schema: public; Owner: faat
--

ALTER TABLE ONLY public."Atividade_Aluno"
    ADD CONSTRAINT "Atividade_Aluno_pkey" PRIMARY KEY (id_atividade, id_aluno);


--
-- Name: Atividade Atividade_pkey; Type: CONSTRAINT; Schema: public; Owner: faat
--

ALTER TABLE ONLY public."Atividade"
    ADD CONSTRAINT "Atividade_pkey" PRIMARY KEY (id_atividade);


--
-- Name: Disciplina Disciplina_codigo_key; Type: CONSTRAINT; Schema: public; Owner: faat
--

ALTER TABLE ONLY public."Disciplina"
    ADD CONSTRAINT "Disciplina_codigo_key" UNIQUE (codigo);


--
-- Name: Disciplina Disciplina_pkey; Type: CONSTRAINT; Schema: public; Owner: faat
--

ALTER TABLE ONLY public."Disciplina"
    ADD CONSTRAINT "Disciplina_pkey" PRIMARY KEY (id_disciplina);


--
-- Name: Nota Nota_pkey; Type: CONSTRAINT; Schema: public; Owner: faat
--

ALTER TABLE ONLY public."Nota"
    ADD CONSTRAINT "Nota_pkey" PRIMARY KEY (id_nota);


--
-- Name: Pagamento Pagamento_pkey; Type: CONSTRAINT; Schema: public; Owner: faat
--

ALTER TABLE ONLY public."Pagamento"
    ADD CONSTRAINT "Pagamento_pkey" PRIMARY KEY (id_pagamento);


--
-- Name: Presenca Presenca_pkey; Type: CONSTRAINT; Schema: public; Owner: faat
--

ALTER TABLE ONLY public."Presenca"
    ADD CONSTRAINT "Presenca_pkey" PRIMARY KEY (id_presenca);


--
-- Name: Usuario Usuario_login_key; Type: CONSTRAINT; Schema: public; Owner: faat
--

ALTER TABLE ONLY public."Usuario"
    ADD CONSTRAINT "Usuario_login_key" UNIQUE (login);


--
-- Name: Usuario Usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: faat
--

ALTER TABLE ONLY public."Usuario"
    ADD CONSTRAINT "Usuario_pkey" PRIMARY KEY (id_usuario);


--
-- Name: alunos alunos_pkey; Type: CONSTRAINT; Schema: public; Owner: faat
--

ALTER TABLE ONLY public.alunos
    ADD CONSTRAINT alunos_pkey PRIMARY KEY (id_aluno);


--
-- Name: professor professor_pkey; Type: CONSTRAINT; Schema: public; Owner: faat
--

ALTER TABLE ONLY public.professor
    ADD CONSTRAINT professor_pkey PRIMARY KEY (id_professor);


--
-- Name: turma turma_pkey; Type: CONSTRAINT; Schema: public; Owner: faat
--

ALTER TABLE ONLY public.turma
    ADD CONSTRAINT turma_pkey PRIMARY KEY (id_turma);


--
-- Name: Atividade_Aluno Atividade_Aluno_id_aluno_fkey; Type: FK CONSTRAINT; Schema: public; Owner: faat
--

ALTER TABLE ONLY public."Atividade_Aluno"
    ADD CONSTRAINT "Atividade_Aluno_id_aluno_fkey" FOREIGN KEY (id_aluno) REFERENCES public.alunos(id_aluno);


--
-- Name: Atividade_Aluno Atividade_Aluno_id_atividade_fkey; Type: FK CONSTRAINT; Schema: public; Owner: faat
--

ALTER TABLE ONLY public."Atividade_Aluno"
    ADD CONSTRAINT "Atividade_Aluno_id_atividade_fkey" FOREIGN KEY (id_atividade) REFERENCES public."Atividade"(id_atividade);


--
-- Name: Nota Nota_id_aluno_fkey; Type: FK CONSTRAINT; Schema: public; Owner: faat
--

ALTER TABLE ONLY public."Nota"
    ADD CONSTRAINT "Nota_id_aluno_fkey" FOREIGN KEY (id_aluno) REFERENCES public.alunos(id_aluno);


--
-- Name: Nota Nota_id_disciplina_fkey; Type: FK CONSTRAINT; Schema: public; Owner: faat
--

ALTER TABLE ONLY public."Nota"
    ADD CONSTRAINT "Nota_id_disciplina_fkey" FOREIGN KEY (id_disciplina) REFERENCES public."Disciplina"(id_disciplina);


--
-- Name: Pagamento Pagamento_id_aluno_fkey; Type: FK CONSTRAINT; Schema: public; Owner: faat
--

ALTER TABLE ONLY public."Pagamento"
    ADD CONSTRAINT "Pagamento_id_aluno_fkey" FOREIGN KEY (id_aluno) REFERENCES public.alunos(id_aluno);


--
-- Name: Presenca Presenca_id_aluno_fkey; Type: FK CONSTRAINT; Schema: public; Owner: faat
--

ALTER TABLE ONLY public."Presenca"
    ADD CONSTRAINT "Presenca_id_aluno_fkey" FOREIGN KEY (id_aluno) REFERENCES public.alunos(id_aluno);


--
-- Name: Usuario Usuario_id_professor_fkey; Type: FK CONSTRAINT; Schema: public; Owner: faat
--

ALTER TABLE ONLY public."Usuario"
    ADD CONSTRAINT "Usuario_id_professor_fkey" FOREIGN KEY (id_professor) REFERENCES public.professor(id_professor);


--
-- Name: alunos alunos_turma_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: faat
--

ALTER TABLE ONLY public.alunos
    ADD CONSTRAINT alunos_turma_id_fkey FOREIGN KEY (turma_id) REFERENCES public.turma(id_turma);


--
-- Name: alunos alunos_turma_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: faat
--

ALTER TABLE ONLY public.alunos
    ADD CONSTRAINT alunos_turma_id_fkey1 FOREIGN KEY (turma_id) REFERENCES public.turma(id_turma);


--
-- Name: turma turma_id_disciplina_fkey; Type: FK CONSTRAINT; Schema: public; Owner: faat
--

ALTER TABLE ONLY public.turma
    ADD CONSTRAINT turma_id_disciplina_fkey FOREIGN KEY (id_disciplina) REFERENCES public."Disciplina"(id_disciplina);


--
-- Name: turma turma_id_disciplina_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: faat
--

ALTER TABLE ONLY public.turma
    ADD CONSTRAINT turma_id_disciplina_fkey1 FOREIGN KEY (id_disciplina) REFERENCES public."Disciplina"(id_disciplina);


--
-- Name: turma turma_id_professor_fkey; Type: FK CONSTRAINT; Schema: public; Owner: faat
--

ALTER TABLE ONLY public.turma
    ADD CONSTRAINT turma_id_professor_fkey FOREIGN KEY (id_professor) REFERENCES public.professor(id_professor);


--
-- Name: turma turma_id_professor_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: faat
--

ALTER TABLE ONLY public.turma
    ADD CONSTRAINT turma_id_professor_fkey1 FOREIGN KEY (id_professor) REFERENCES public.professor(id_professor);


--
-- PostgreSQL database dump complete
--

